#p1,#p2,#p3 {
    box-sizing:border-box;
    border:5px solid black;
    padding:5px;
    background-color: orange;
    width:auto;
    height:200px;

}
#p1{
    background: url(./images/chicken.jfif) no-repeat; 
    background-size: cover;
    background-position: center center;  
}

#p2{
    background: url(./images/beef.jfif) no-repeat; 
    background-size: cover;
    background-position: center center;  
}

#p3{
    background: url(./images/egg.jfif) no-repeat; 
    background-size: cover;
    background-position: center center;  
}

@media (min-width:992px){
    #p1 {
    float:left;
    width:32%;
    background-color:rgb(255, 145, 0);
    margin-right: 10px;
    margin-left:10px;
    }
    #p2 {
    width:32%;   
    float: left;
    background-color:rgb(255, 145, 0);
    margin-right: 10px;
    }
    #p3 {
    width:32%;
    float: left;
    background-color: rgb(255, 145, 0);
    }
}
@media (min-width:768px) and (max-width:991px) {
    #p1 {
        margin-right: 10px;
        width:48.5%;
        margin-bottom:40px;
        float:left;
    }
    #p2 {
        width:48.5%;
        float:left;
    }
    #p3 {
        clear:both;
        margin-top:10px;
        margin-right:16px;
    }
}
@media (max-width:767px){
   #p1 , #p2, #p3{
       background-color: gray;
       margin-bottom: 30px;
   }
}
#chicken {
    float:right;
    width: 100px;
    box-sizing: border-box;
    background-color: pink;
    border: 3px solid black;
}
#beef {
    float:right;
    width: 100px;
    box-sizing: border-box;
    background-color: red;
    border: 3px solid black;
}
#egg {
    float:right;
    width: 100px;
    box-sizing: border-box;
    background-color: yellow;
    border: 3px solid black;
}
h1 {
    text-align: center;
}

body{
    background-color: purple;
    color: black;
}

#header-nav{
    background-color: crimson;
    text-transform: uppercase;
    padding :10px 15px 10px 10px;
}

#logo_img{
    background: url('./images/logo.jfif') no-repeat;
    width:150px;
    height:150px;
    border-radius: 50%;
}